.search-table {
    margin: 20px;
  }
  
  .table {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .form-control {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .btn {
    margin-right: 10px;
  }